
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shop</title>
        <style>
            h1{
                color:white
            }
        </style>
    </head>
    <body style="background-color:black">
        <h1>
            Pls:- insert one of the two below ex on the ULR
        </h1>
        <br>
        <br>
        <br>
        <h1>
            /products    for all products list
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
            /product/enter a number for a spasific product
        </h1>
        <br>
        <br>
        <br>
        <h1>
            /search/by-category/enter a string
        </h1>
    </body>
</html>
